/* どこでも使用可能 */
p {
  margin: 0;
}
:root {
  --text-color: #444;
  --main-color: #24354d;
}

h1 {
  color: #24354d;
  font-size: 18px;
}

.article {
  width: 282px;
}

.article__thumbnail {
  width: 100%;
  height: 100px;
}

time {
  display: block;
  color: #5f799c;
  font-size: 12px;
  padding-top: 7px;
  margin-bottom: 0.25rem;
}

.article__title {
  color: #24354d;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.article_tag {
  color: #5f799c;
  font-size: 12px;
  background-color: #eef4fa;
  margin: 0 7px 7px 0;
  padding: 4px 8px;
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.container {
  display: flex;
  justify-content: center;
  /* 中央寄せ（任意） */
  gap: 10px;
  /* 正方形の間隔 */
  margin-top: 50px;
}

.square {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.column__date {
  width: 70%;
}
.column__thumbnail {
  width: 30%;
  height: 100px;
}

.column__title {
  color: #24354d;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.column_tag {
  color: #5f799c;
  font-size: 12px;
  background-color: #eef4fa;
  margin: 0 7px 7px 0;
  padding: 4px 8px;
}

.column {
  display: flex;
  justify-content: center;
  /* 中央寄せ（任意） */
  gap: 10px;
  /* 正方形の間隔 */
  margin-top: 50px;
  width: 1000px;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(208, 221, 233, 0.5);
  padding: 20px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-link {
  color: var(--main-color);
  font-size: 16px;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  background-color: var(--main-color);
  padding: 20px;
}

h2 {
  color: white;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  gap: 20px;
}

.footer__menu-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
